# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.dot
*.svg

**/*.db
boot/log/
boot/schdstore/
boot/sync_point/
config/schdstore/
config/sync_point/
config/tmroot/log/
modules/pool/testdata/
modules/scheduler/log/
modules/storage/schdstore/
modules/storage/slices/
modules/storage/sync_point/
test/statesync/data/
*.tar
log/
rpc.log
